.one{
    background-color: steelblue;
    padding-bottom: 5%;
}
.two{
    background-color: bisque;
    height: 60%;
    padding-bottom: 40%;
}
.three{
    background-color: rgb(48, 48, 48);
    

}
.logo{
    text-align: center;
    padding-top: 20%;
}